# ==========================
# Node.js / NestJS
# ==========================

# Dependências instaladas
node_modules/

# Código compilado
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ==========================
# Yarn Berry (Yarn 3)
# ==========================

# Estado gerado pelo Yarn
.yarn/install-state.gz

# Cache local do Yarn
.yarn/cache/

# Arquivos temporários
.yarn/unplugged/

# Build artifacts do Yarn
.yarn/build-state.yml


# Manter o Yarn Release versionado
# Necessário para projetos com Yarn 3
!.yarn/releases/


# ==========================
# Terraform
# ==========================

# Diretório gerado pelo terraform init
**/.terraform/

# Arquivos de estado
*.tfstate
*.tfstate.*

# Backup de state
*.tfstate.backup

# Logs de erro
crash.log
crash.*.log

# Arquivos de variáveis sensíveis
*.tfvars
*.tfvars.json


# ==========================
# Ambiente
# ==========================

.env
.env.*
!.env.example


# ==========================
# IDE / Editor
# ==========================

.vscode/
.idea/

# Arquivos do Windows
Thumbs.db
Desktop.ini


# ==========================
# Sistema operacional
# ==========================

.DS_Store